body{
    padding: 20px;
}
p{
    color:green;
}

/* classes e ids */
.meu-paragrafo{
    background-color: black;
    color: aliceblue;
}

#titulo-principal{
    background-color: yellow;
    color: black;
    padding: 10 px;
    font-family: Helvetica;
}